- content_for :rightbar do
  .box{:data => {:spy => @guide.articles.count >9 ? "":"affix",:offset_top => "80"}}
    %h2.box-header
      #{@guide.title}
    .cell
      #{@guide.subtitle}
    - @guide.articles.each do |article|
      = render "articles/simple_article", :article_user => @guide.user, :article_guide => @guide, :article => article, :current_article_id => @current_article_id
    .list-group
      = link_to "单页显示",guide_articles_path(@guide), :class => "list-group-item"
      - if user_signed_in? && current_user.can_manage_site?
        = link_to "创建新文章",new_guide_article_path(@guide), :class => "list-group-item"
      - if user_signed_in?
        - if current_user.bookmarked?(@guide)
          = link_to "<span class='glyphicon glyphicon glyphicon glyphicon-heart'></span> 取消收藏 <span class='badge'>#{@guide.bookmarks.count}</span>".html_safe, current_user.bookmark_of(@guide), :method => :delete, :class => 'btn btn-default btn-lg btn-block'
        - else
          = link_to "<span class='glyphicon glyphicon glyphicon glyphicon-heart-empty'></span> 收藏此教程 <span class='badge'>#{@guide.bookmarks.count}</span>".html_safe, guide_bookmarks_path(@guide), :method => :post, :class =>  'btn btn-info btn-lg btn-block'
        = link_to "<span class='glyphicon glyphicon glyphicon glyphicon-question-sign'></span> 有疑问？去论坛发布话题".html_safe, new_from_home_topics_path, :target => :_blank, :class =>  'btn btn-info btn-lg btn-block'
      - else
        = link_to "<span class='glyphicon glyphicon glyphicon-bookmark'></span> 收藏此教程 <span class='badge'>#{@guide.bookmarks.count}</span>".html_safe, new_user_session_path, :class =>   'btn btn-primary btn-lg btn-block'
