<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @download.title %>
</p>

<p>
  <b>Description:</b>
  <%= @download.description %>
</p>


<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
