<h5>
  <%= link_to "All",root_path %> >
  <%= link_to @category.title, @category %> > 
  <%= link_to @guide.title, @guide %>
</h5>
<div class="sidebar">
  <h1>
    <%= @guide.title %>
  </h1>

  <span class="subtitle">
    <%= @guide.subtitle %>
  </span>
<ul class="nav nav-list sidenav ">
  <% @articles.each do |article| %>
    <li class="<%= 'active' if (article.id ==  params[:id].to_i)  %>">
      <%= link_to [@guide,article] do %>
        <i class="icon-chevron-right"></i> 
        <%= article.title %>
      <% end %>
    </li>
  <% end %>
  <li class="single-page active">
    <%= link_to guide_articles_path(@guide) do %>
      Single Page
      <i class="icon-list-alt"></i>
    <% end %>
  </li>
  <% if can? :update, @guide %>
    <li>
      <%= link_to 'Edit this guide', edit_guide_path(@guide), class:"" %>
    </li>
    <li>
      <%= link_to 'Add new article', new_guide_article_path(@guide), class:"" %>
    </li>
  <% end %>
</ul>

</div>

<div class="article span8">

<% @articles.each do |article| %>
  <div class="content-head clearfix">
    <h4 class="float-left"><%= article.title %></h4>
    <p class="float-right">
      By <%= link_to @guide.user.name, @guide.user %>
    </p>
  </div>
  <div class="article-content">
    <%= article.content %>
  </div>
<% end %>

  </div>

