- unless user_signed_in?
  .box
    .cell
      = "#{Siteconf.site_name} — #{Siteconf.short_intro}"
    .inner
      .sep5
      .center
        = link_to '现在注册', new_user_registration_path, :class => 'btn btn-small'
        .sep5
        .sep10
        已注册用户请
        = link_to '登入', new_user_session_path, :class => :rabel

- content_for :rightbar do
  = Siteconf.global_sidebar_block.html_safe
