%table.topics.table
  %thead
    %tr
      %th.w50 ID
      %th.auto{:align => :left} 分类
      %th.auto{:align => :left} 标题
      %th.auto{:align => :left} 收藏数
      %th.auto{:align => :right} 创建时间
      %th.w100 操作
  %tbody
    - guides.each do |guide|
      %tr.highlight
        %td.w50
          %strong.green
            = guide.id
        %td.auto
          = link_to guide.category.title, "#{guides_url}?c=#{guide.category.id}"
        %td.auto
          = link_to guide.title, guide
        %td.auto
          = guide.bookmarks.count
        %td.auto{:align => :right}
          %small= time_ago_in_words(guide.created_at)
        %td.w100
          = link_to '编辑', edit_guide_path(guide), :class => 'btn btn-sm'
          = link_to '删除', admin_guide_path(guide), :class => 'btn btn-sm btn-danger', :method => :delete, :data => {:confirm => t(:delete_confirm)}
