.col-md-4{:class => "col-lg-4 col-sm-4"}
  .box
    .cell.topic{:class => guide_user.can_manage_site? ? 'admin' : ''}
      .item_title2
        %h2.topic_title
          = link_to guide.title, guide_path(guide), :class => 'rabel topic'
        %h5.guide-subtitle
          =guide.subtitle
        = image_tag guide.img unless guide.img.nil?
        .guide-overview
          =guide.overview
        - guide.articles.each do |article|
          = render "articles/simple_article", :article_user => guide_user, :article_guide => guide, :article => article
        .topic-meta
          = link_to guide_node.title, guide_node, :class => :node
          %span.muted •
          = user_profile_link(guide_user, :class => :dark)
          %span.muted •

