.box-guide
  .cell.topic{:class => guide_user.can_manage_site? ? 'admin' : ''}
    .item_title2
      %h2.guide_title
        = link_to guide.title, guide_path(guide), :class => 'rabel topic'
      %h5.guide-subtitle
        =link_to guide.subtitle, guide_path(guide)
      =link_to guide_path(guide) do
        = image_tag guide.img,:class => "img-thumbnail" unless guide.img.nil?
      .guide-overview
        =link_to guide.overview, guide_path(guide)
      .list-group
      - guide.articles.each do |article|
        = render "articles/simple_article", :article_user => guide_user, :article_guide => guide, :article => article, :current_article_id => 0
      .topic-meta
        = link_to guide_node.title, "#{guides_url}?c=#{guide_node.id}", :class => :category
        %span.muted •
        = user_profile_link(guide_user, :class => :dark)
        - if user_signed_in? && current_user.can_manage_site?
          %span.muted •
          = link_to "编辑",edit_guide_path(guide), :class => :dark

