<%= simple_form_for(@guide) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :category %>
    <%= f.input :subtitle %>
    <%= f.input :overview, as: :text %>
    <%= f.input :img %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
