<h1>Listing guides</h1>

<% @guides.each do |guide| %>
    <%= link_to  guide do %>
      <div class="box span3">
        <h3><%= guide.title %></h3>
        <h5><%= guide.subtitle %></h5>
        <%= image_tag guide.img unless guide.img.empty? %>
        <p><%= guide.overview %></p>
      </div>
    <% end %>
<% end %>

<br />

<%= link_to 'New Guide', new_guide_path %>
