<h1>Listing guides</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Category</th>
    <th>Subtitle</th>
    <th>Overview</th>
    <th>Img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guides.each do |guide| %>
  <tr>
    <td><%= guide.title %></td>
    <td><%= guide.user_id %></td>
    <td><%= guide.category_id %></td>
    <td><%= guide.subtitle %></td>
    <td><%= guide.overview %></td>
    <td><%= guide.img %></td>
    <td><%= link_to 'Show', guide %></td>
    <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
    <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guide', new_guide_path %>
