- content_for :rightbar do
  = render 'shared/categories'
.box
  .cell
    = build_navigation([@title])
    - if user_signed_in? && current_user.can_manage_site?
      .pull-right
        = link_to '创建新教程', new_from_home_guides_path, :class => 'btn btn-success btn-sm btn-new-topic'
.clearfix
#masonry-container.clearfix.transitions-enabled.has-gutters
  = render @guides
.box
  .inner{:align => :center}
    = paginate @guides

:javascript
  var $container = $('#masonry-container');
  $container.imagesLoaded( function(){

    $container.masonry({
      itemSelector: '.box-guide',
      columnWidth:0,
      gutterWidth: 5
    });

  });

