<h1>Listing guides</h1>
  <div class="category float-left">
    <b>Cateories: </b>
  </div>

<% @categories.each do |category| %>
  <div class="category float-left">
    <%= link_to category.title, category %> | 
    <% if can? :update,category %>
      <p><%= link_to 'Edit', edit_category_path(category) %> | 
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>

<% if can? :update,@guides %>
  <%= link_to 'New Guide', new_guide_path %>
<% end %>

<div id="masonry-container" class="transitions-enabled has-gutters clearfix">
  <% @guides.each do |guide| %>
    <div class="box-guide ">
      <%= link_to  guide do %>
        <h3><%= guide.title %></h3>
        <h5><%= guide.subtitle %></h5>
        <%= image_tag guide.img unless guide.img.empty? %>
        <p><%= markdown(guide.overview) %></p>
      <% end %>
    </div>
  <% end %>
</div>

<br />


<script>
var $container = $('#masonry-container').masonry();
$container.imagesLoaded( function(){

  $container.masonry({
    itemSelector: '.box-guide',
    columnWidth: 215,
    gutterWidth: 30
  });

});
</script>
